/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: gainsboro;
}

/* header */

header{
    background-color: white;
    padding: 10px;
}

h1{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    font-family: sans-serif;
}

#logo{
    height: 60px;
    vertical-align: middle;
}

/* main */

div.main-container{
    padding: 4% 10%;
}

main{
    width: 100%;
}

header.main-header{
    border-radius: 10px 10px 0 0;
    margin-bottom: .2em;
    padding-left: 3em;
}

input{
    padding: 10px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
}

div[role="list"]{
    border-radius: 0px 0px 10px 10px;
}

 /* button color */
 
.blue-button{
    color: white;
    background-color: deepskyblue;
    border: 1px solid white;
}

.green-button{
    color: white;
    background-color: green;
    border: 1px solid white;
}

.orange-button{
    color: white;
    background-color: orange;
    border: 1px solid white;
}

.magenta-button{
    color: white;
    background-color: rgb(137, 22, 52);
    border: 1px solid white;
}

.purple-button{
    color: white;
    background-color: fuchsia;
    border: 1px solid white;
}

.lime-button{
    color: white;
    background-color: limegreen;
    border: 1px solid white;
}

.white-button{
    color: rgb(146, 146, 146);
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

/* class */

.bgwhite{
    background-color: white;
}

/* list */

details {
    padding: .5em .5em 0;
    display: inline-block;
    margin: 1em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

.true{
    color: lime;
}

.false{
    color: red;
}







