/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: gainsboro;
}

/* header */

header{
    background-color: white;
    padding: 10px;
}

h1{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    font-family: sans-serif;
}

#logo{
    height: 60px;
    vertical-align: middle;
}

/* main */

div.main-container{
    padding: 4% 10%;
}

main{
    width: 100%;
}

header.main-header{
    border-radius: 10px 10px 0 0;
    margin-bottom: 1%;
}

input{
    padding: 10px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
}

.blue-button{
    color: white;
    background-color: deepskyblue;
    border: 1px solid white;
}

.white-button{
    color: rgb(146, 146, 146);
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

/* class */

.bgwhite{
    background-color: white;
}





